header {
  align-items: center;
  background-color: #f5af19;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

header a {
  color: white;
  text-decoration: none;
}

.cart-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 40px;
}
