header {
  align-items: center;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

header a {
  text-decoration: none;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
}
