.page-container {
  display: flex;
  flex-direction: row;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.product-area {
  background-color: #ddd;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
