.page-container {
  display: flex;
  flex-direction: row;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.category-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  min-width: 200px;
  padding: 0 10px;
}

.product-area {
  background-color: #ddd;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
